<div class="feed-post">
  <a [routerLink]="'post/' + post.key" routerDirection="forward" class="feed-post__link">
    <div class="image-shell">
      <img [src]="post?.data" class="feed-post__image" />
    </div>

    <div class="text-shell" style="margin-top:5px;width:50%;margin-left:auto;min-height:20px;" *ngIf="!post.key; else locationBlock"></div>
    <ng-template #locationBlock>
      <div class="feed-post__location-bar">
        <ion-icon name="pin" class="feed-post__location-icon"></ion-icon>
        <span class="feed-post__location-value" *ngIf="post.location; else elseBlock">{{ post.location?.place?.address }}</span>
        <ng-template #elseBlock>
          <span class="feed-post__location-value">Terra incognita</span>
        </ng-template>
      </div>
    </ng-template>
    
    <div 
      class="text-shell" 
      style="margin-top:5px;min-height:12px;padding-top:10px;width:35%;margin-left:auto" 
      *ngIf="!post.key; else dateBlock"
    ></div>
    <ng-template #dateBlock>
      <div class="feed-post__datetime">
        {{ post.createdOn | date: 'mediumDate' }}
      </div>
    </ng-template>
    <div *ngIf="!post.key; else descriptionBlock">
      <div class="text-shell" style="margin-top:10px;"></div>
      <div class="text-shell" style="margin-top:5px;"></div>
    </div>
    <ng-template #descriptionBlock>
      <div class="feed-post__description">
        {{ post.description }}
      </div>
    </ng-template>
  </a>
</div>