.feed-post {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
}

.feed-post__link {
  display: block;
  text-decoration: none;
}

.feed-post__location-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
}

.feed-post__datetime {
  text-align: right;
  font-size: .8em;
  font-weight: 700;
  color: #333;
}

.feed-post__location-icon {
  margin-right: 2px;
}

.feed-post__location-value {
  text-align: right;
  font-size: .8em;
  color: #777;
}

.feed-post__description {
  padding: 10px 5px 0;
  font-size: 1.3em;
  font-style: italic;

  color: #333;
  text-decoration: none!important;
  border: 0;
}