.post-form {

}

.post-form__file {
  display: none;
}

.post-form__image {
  position: relative;

  &-tip {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    color: #ccc;

    &::before, &::after {
      content: "";

      display: block;
      position: absolute;
      top: -60px;
      left: 50%;
      width: 60px;
      height: 14px;
      margin-left: -30px;
      background: #ccc;
    }

    &::after {
      transform-origin: center center;
      transform: rotate(-90deg);
    }
  }

  &.empty { 
    height: 0;
    padding-top: 100%;
    background: #eee;
  }
}

.post-form__location-bar {
  padding: 20px 0;
}