<ion-grid>
  <ion-row>
    <ion-col size="12">
      <form class="post-form" (ngSubmit)="submitPost($event)">
        <div class="post-form__file">
          <input #fileInput type="file" accept="image/jpeg" (change)="loadPhotoFromInput($event.target.files)">
        </div>
        <div class="post-form__image-wrapper" (click)="addPhoto()">
          <div class="post-form__image" [ngClass]="{'empty': this.imageSrcData === null}">
            <div class="post-form__image-tip">
              <div class="post-form__image-tip-icon"></div>
              Tap to pick an image
            </div>
            <img [src]="this.imageSrcData" *ngIf="this.imageSrcData !== null">
          </div>
        </div>
        <ion-item>
          <ion-textarea [rows]="1" [(ngModel)]="currentPost.description" name="description"
            placeholder="Description..."></ion-textarea>
        </ion-item>
        <div class="post-form__location-bar">
          <div>
            <ion-icon name="pin" class="feed-post__location-icon"></ion-icon> Location:
            <span>{{ currentLocation?.place?.address }}</span>
          </div>
          <div>
            <ion-button (click)="pickLocation()">Pick location</ion-button>
            <ion-button color="warning" (click)="resetLocation()">
              <ion-icon name="locate"></ion-icon>
            </ion-button>
          </div>
        </div>
        <ion-button expand="full" type="submit">Submit</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <ion-fab vertical="top" horizontal="center" slot="fixed">
  <ion-fab-button (click)="addPhoto()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab> -->