<ion-header translucent>
  <ion-toolbar>
    <ion-title>Pick location</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="location-picker">
          <agm-map 
            [latitude]="latitude" 
            [longitude]="longitude" 
            [zoom]="zoom" 
            style="height:350px;" 
            class="location-picker__map"
            [streetViewControl]="false" 
          >
            <agm-marker 
              [latitude]="latitude"
              [longitude]="longitude"
              [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"
              (mapClick)="mapClick($event)"
            ></agm-marker>
          </agm-map>
        </div>
        <div>
          <h5>Address: {{address}}</h5>
          <div>Latitude: {{latitude}}</div>
          <div>Longitude: {{longitude}}</div>
        </div>
        <div>
          <ion-button (click)="pickLocation()">Save</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>