<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="flash"></ion-icon>
      <ion-label>My feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addpost">
      <ion-icon name="images"></ion-icon>
      <ion-label>Add post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="send"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
