<ion-header>
  <ion-toolbar>
    <ion-title>
      My feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of routeResolveData?.items">
        <app-feed-post [post]="item"></app-feed-post>
      </ion-col>
      
      <!-- <ion-col size="12" *ngIf="!postService.posts.length">
        <div class="feed-empty">Feed is empty</div>
      </ion-col> -->

      <!-- <ion-col size="12" *ngFor="let post of postService.postsLocal">
        <app-feed-post [post]="post"></app-feed-post>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>