// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
@import './shell/shell-elements.scss';

.logo {
  width: 100%;
  height: 30vh;
  background: rgba(red, .2);
  background-image: linear-gradient(to bottom, rgba(red, .2) 0%, rgba(red, .15) 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  ion-title {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(white, .1);
    text-transform: uppercase;
  }
}

ion-app {
  max-width: 500px;
  margin: 0 auto;
}
