<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Post
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="post" *ngIf="post && !isLoading; else elseBlock">
    <img [src]="post.data" class="post__image" />
    <div class="post__location-bar">
      <ion-icon name="pin" class="post__location-icon"></ion-icon>
      <span class="post__location-value" *ngIf="post.location; else elseBlock">{{ post.location?.place?.address }}</span>
      <ng-template #elseBlock>
        <span class="post__location-value">Terra incognita</span>
      </ng-template>
    </div>
    <agm-map
      [latitude]="post.location.latitude" 
      [longitude]="post.location.longitude" 
      [zoom]="16"
      [streetViewControl]="false" 
      *ngIf="post && post.location"
    >
      <agm-marker [latitude]="post.location.latitude" [longitude]="post.location.longitude"></agm-marker>
    </agm-map>
    <div class="post__description">{{ post.description }}</div>
  </div>
  <ng-template #elseBlock>
    <div class="post__loader">
      <ion-spinner name="dots" color="primary"></ion-spinner>
    </div>
  </ng-template>
</ion-content>