.post {
  font-size: 1rem;

  agm-map {
    height: 180px;
  }
}

.post__location-bar {
  display: flex;
  padding: 5px 0;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.post__location-icon {
  margin-right: 5px;
}

.post__description {
  padding: 15px 0;
  font-size: 1.3em;
  font-style: italic;
}

.post__loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  ion-spinner {
    transform: scale(3);
  }
}