.form {

}

.form-status {
  margin: 15px 0;

  &__message {
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: .9em;
    color: #777;
  }

  &__error {
    background: rgba(red, .15);
  }

  &__success {
    background: rgba(green, .15);
  }
}

.form-validation {
  padding: 5px 10px;

  &__message {
    font-size: .7em;
    font-weight: 700;
    color: rgba(red, .8);
  }
}

.form-submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
  ion-button {
    min-width: 120px;
  }
}