<div class="profile" *ngIf="user; else showLogin">
  <h1>Hello, {{ user.email }}</h1>  
  <p>uid: {{ user.uid }}</p>

  <ion-button (click)="logout()" color="danger">Log out</ion-button>
</div>
<ng-template #showLogin>
  <p>Please sign in.</p>
  <a [routerLink]="'/signin'">
    <ion-button>Okaaay</ion-button>
  </a>
</ng-template>