<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="logo">
    <ion-title>Microgram</ion-title>
  </div>
  <ion-content padding>
    <form (ngSubmit)="signIn(signInForm.value)" [formGroup]="signInForm" class="form signup-form">
      <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="form-validation">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="form-validation__message"
            *ngIf="signInForm.get('email').hasError(validation.type) &&
              (signInForm.get('email').dirty || signInForm.get('email').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
  
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="form-validation">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="form-validation__message"
            *ngIf="signInForm.get('password').hasError(validation.type) &&
              (signInForm.get('password').dirty || signInForm.get('password').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
  
      <div class="form-status">
        <div class="form-status__message form-status__error" *ngIf="statusMessages.error">
          {{ statusMessages.error }}
        </div>
        <div class="form-status__message form-status__success" *ngIf="statusMessages.success">
          {{ statusMessages.success }}
        </div>
      </div>
      <div class="form-submit">
        <ion-button [disabled]="!signInForm.valid" type="submit">
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <ng-container *ngIf="!isLoading">Sign in</ng-container>
        </ion-button>
      </div>
    </form>
  </ion-content>
  

</ion-content>